.navbar{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.767);
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
}
.links a{
    position : relative;
}
.links a:hover{
    position : relative;
    transition: 0.4s;
}
.links a:nth-child(1)::after,
.links a:nth-child(2)::after {
    content :"";
    position: absolute;
    bottom : -5px;
    left : 0;
    width : 100%;
    height: 5px;
    background-color: #FF744D;
    transition-timing-function : ease-in-out;
    transform :scaleX(0);
    transition: .5s;
}
.links a:nth-child(1):hover::after,
.links a:nth-child(2):hover::after {
    transform: scaleX(1);
}
.links a:nth-child(3):hover{
    transform: scale(1.1);
}
.links a:nth-child(1):hover,
.links a:nth-child(2):hover{
    color : #FF744D;
}
.downArrow{
    transform: rotate(-90deg);
}
.downArrow:hover {
    transform: rotate(-115deg);
    transition: .3s;
    background-color: aliceblue;
    border-radius: 50%;
}
@media screen and (min-width: 942px) and (max-width: 1102px)  {
    .links{
        gap : 7px;
    }
    .links a:nth-child(3){
        margin-left: 1rem;
    }
}
@media screen and (min-width: 760px) and (max-width: 942px)  {
    .links a:nth-child(1),.links a:nth-child(2){
        display : none;
    }
}
@media screen and (max-width: 767px){
    .navbar{
        background : transparent;
    }
}