.titleBack{
    background-color: #ffbb4d;
    
}
.title{
    background-color: rgba(255, 255, 255, 0.779);
    backdrop-filter: blur(10px);
}
.titleText{
    background: linear-gradient(to right,#FF744D,#FFBB4D);
    color : transparent;
    -webkit-background-clip: text;
}
