.userMain{
    background-color: rgba(255, 255, 255, 0.546);
    backdrop-filter: blur(10px);
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.leftContainer{
    flex-basis: 50%;
}
.rightContainer{
    flex-basis: 50%;
}
@media screen and (max-width: 1310px) {
    .userMain{
        display: flex;
        flex-direction: column;
    }
    .rightContainer{
        flex-basis: 100%;
    }
}
@media screen and (max-width: 470px) {
    .leftContainer{
        flex-direction: column;
       
    }
    .card2{
        margin-bottom : 2rem;
    }
    
    .card3{
        margin-top : 2rem;
    }
}

